# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore paths that may contain user-generated content
/public/sites/*/files
/public/sites/*/public
/public/sites/*/private
/public/sites/*/files-public
/public/sites/*/files-private

# Ignore paths that may contain temporary files
/public/sites/*/translations
/public/sites/*/tmp
/public/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
/public/vendor
/public/core
/public/modules/README.txt
/public/modules/contrib
/public/profiles/README.txt
/public/profiles/contrib
/public/sites/development.services.yml
/public/sites/example.settings.local.php
/public/sites/example.sites.php
/public/sites/README.txt
/public/themes/README.txt
/public/themes/contrib
/public/.csslintrc
/public/.editorconfig
/public/.eslintignore
/public/.eslintrc.json
/public/.gitattributes
/public/.htaccess
/public/.ht.router.php
/public/autoload.php
/public/composer.json
/public/composer.lock
/public/example.gitignore
/public/INSTALL.txt
/public/LICENSE.txt
/public/README.txt
/public/robots.txt
/public/update.php
/web.config

# Ignore local environment variables
/.env

# Ignore vendor dependencies and scripts
/vendor
/composer.phar
/composer
/robo.phar
/robo
/drush.phar
/drush
/drupal.phar
/drupal
